body {
    font-family: Overpass;
    font-size: 18px;
    background-color: #DCDCDC;
}

h1 {
    font-size: 36px;
    padding: 5px 5px 0px 5px;
}

form div {
  padding: 5px;
}

/*
.check {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.check:active, .check:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.check:checked {
    background-color: #cf0013;
    opacity: 0.9;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
*/

#content {
    padding: 20px;
}

input[type="submit"] {
    background-color: #4C4C4C;
    padding: 16px 28px 14px 28px;
    margin: 30px 0px;
    margin-left: 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: white;
    font-family: Overpass;
    font-size: 18px;
    border: none;
}

input[type="submit"]:hover {
    background-color: #A30000;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    overflow: hidden;
    background-color: #4C4C4C;
}

.nav li {
    float: left;
   /* width: 160px; */
    height: 52px;
    padding: 0px 10px;
    -webkit-transform: skew(330deg);
    -moz-transform: skew(330deg);
    -o-transform: skew(330deg);
    transform: skew(330deg);
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    -webkit-transform: skew(-330deg);
    -moz-transform: skew(-330deg);
    -o-transform: skew(-330deg);
    transform: skew(-330deg);
}

.nav li:hover:not(.active) {
    background-color: #3C3C3C;
}

.nav .active {
    background-color: #A30000;
}