{% extends "base.html" %}

{% block title %}Choose card(s){% endblock %}
{% block header %}<link rel="stylesheet" type="text/css" href="css/form.css" />{% endblock %}
{% block content%}
  <h1>{{self.title()}}</h1>
  <form class="card" action="/tests" method="get">
    {% for val in result %}
      <div>
        <input class="check" type="checkbox" name="card" value={{val}}>
        <label class="check_label">{{val}}</label>
      </div>
    {% endfor %}
  <input type="submit" name="" value="Next">
  </form>
{% endblock %}
