{% extends "base.html" %}

{% block title %}Choose start and end dates{% endblock %}
{% block header %}<link rel="stylesheet" type="text/css" href="css/form.css" />{% endblock %}
{% block content%}
  <h1>{{self.title()}}</h1>
  <form class="date" onsubmit="dateFormEnter()">
    <input id="startDate" name="start" type="date" required>
    <input id="endDate" name="end" type="date" required><br><br>
    <input id="exclude" onchange="dateRedirectUpdate()" name="exclude" type="checkbox"><label>Exclude certain dates</label><br>
    <input id="update" name="update" type="checkbox"><label>Update data in this range</label><br>
    <input type="submit" name="" value="Next">
  </form>
{% endblock %}
{% block scripts %}
  <script type="text/javascript">
    {% include "./js/scripts.js"%}
    date()
  </script>
{% endblock %}
