{% extends "base.html" %}
{% block title %}Choose dates to include{% endblock %}
{% block header %}<link rel="stylesheet" type="text/css" href="css/form.css" />{% endblock %}
{% block content%}
  <h1>{{self.title()}}</h1>
  <form class="dates">
    {% for val in result %}
      <div>
        <input onclick="dateboxClick({{loop.index}})" id="date_{{loop.index}}" class="check" type="checkbox" name="date" value={{val[1]}} checked>
        <label class="check_label">{{val[0]}}</label>
      </div>
    {% endfor %}
  <input type="button" onclick="excludeDates()" name="" value="Next">
  </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    {% include "./js/scripts.js"%}
  </script>
{% endblock %}
