{% extends "base.html" %}

{% block title %}QEGraph{% endblock %}

{% block header %}<link rel="stylesheet" type="text/css" href="css/simple.css" />{% endblock %}

{% block content%}
  <p> 
    The Network-QE team is using this website, <span class="code">netqe-infra01.knqe.lab.eng.bos.redhat.com:8009</span>, to host our data visualization tool.
  </p>
  <p>Run <span class="code">pip install qeGraphMaker</span> to get latest version of command line tool.</p>
  <a href="/cards"><button>Interactive website</button></a>
{% endblock %}

