{% extends "base.html" %}

{% block title %}Choose label(s){% endblock %}
{% block header %}<link rel="stylesheet" type="text/css" href="css/form.css" />{% endblock %}
{% block content %}
    <h1>Choose label(s)</h1>
    <form class="label">
      {% for val in result %}
        <div>
          <input class="check" type="checkbox" name="labels" value='{{val}}'>
          <label class="check_label">{{val}}</label>
        </div>
      {% endfor %}
    <input type="button" onclick="checkBoxForm(labels, /dates)" name="" value="Next">
    </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    {% include "./js/scripts.js"%}
  </script>
{% endblock %}
