{% extends "base.html" %}

{% block title %}Choose subtest{% endblock %}
{% block header %}<link rel="stylesheet" type="text/css" href="css/form.css" />{% endblock %}
{% block content %}
    <h1>Choose subtest</h1>
    <form class="subtest" >
      {% for val in result %}
        <div>
          <input class="rad" type="radio" name="subtest" value='{{val}}' >
          <label class="rad_label">{{val}}</label>
        </div>
      {% endfor %}
    <input type="button" onclick="radioButtonForm('subtest', '/types')" name="" value="Next">
    </form>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    {% include "./js/scripts.js"%}
  </script>
{% endblock %}
